/* General Styles */
html, body {
  margin: 10px;
}

/* Header CSS */

header {
  	margin: 0 auto;
    position: relative;
	box-shadow: 0px 10px 10px #888888;
	width:960px;
	height:200px;
	background: #7db9e8; /* Old browsers */
	background: -moz-linear-gradient(top,  #7db9e8 0%, #2989d8 32%, #1e5799 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7db9e8), color-stop(32%,#2989d8), color-stop(100%,#1e5799)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #7db9e8 0%,#2989d8 32%,#1e5799 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #7db9e8 0%,#2989d8 32%,#1e5799 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #7db9e8 0%,#2989d8 32%,#1e5799 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #7db9e8 0%,#2989d8 32%,#1e5799 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7db9e8', endColorstr='#1e5799',GradientType=0 ); /* IE6-9 */
	
}

aside em {
	font-family: Cardo, arial;
	font-size: 17px;
	color: #fff;
	
}

aside {
	height:200px;
    position: absolute;
    left: 241px;
	border-left: 1px solid #fff;
}
	
aside .contact {
		padding:  25px 0 0 30px;
	    float: left;
		line-height: 100%;
	
}

aside .contact h1 {
	margin: 10px 0 0 0;
	font-family: Zeyada, arial;
	font-size: 40px;
	color: #fff;
	
}

aside p {

	font-family: arial;
	font-size: 17px;
	color: #fff;
	line-height:89%;
}

aside a {
	color:#fff;
	text-decoration: none ;
}
aside a:hover {
	color: #fffc00;
	text-decoration: underline ;
	
}

.container{
	
  position: relative; 
  
}

.group:after,
.group:before {
  display: table;
  content: "";
}
.group:after {
  clear: both;
}
.group {
  *zoom: 1;
}

.logo {
	position: absolute;
	top:30px;
	left:35px;
	width: 150px;
	height: 150px;
	float: left;	
}

.logo img{
	height: 150px;
}


.ink {
	position: absolute;
	top:-115px;
	right:5px;
	width: 150px;
	height: 180px;
	float: right;	
	
}


.photo {
	position: absolute;
	top:15px;
	right:150px;
	width: 150px;
	height: 180px;
	float: right;
	z-index:200;
		
	
}
.photo img{
	height: 240px;
	box-shadow: -2px 0 10px #888888;
	-webkit-transform: rotate(20deg);
     -moz-transform: rotate(20deg);
       -o-transform: rotate(20deg);
          transform: rotate(20deg);
}



/* tab styling */

.content{
	width:960px;
	margin: 0 auto;
	padding: 30px 0 0 0;
}
.content em{
	font-family: Cardo, arial;
	font-size: 14px;
	color: #000;
}
.content h1, h2, h3, h4 {
	font-family: arial;
	color: #000;
	
}

.content p {

	font-family: arial;
	font-size: 14px;
	color: #000;
	line-height:150%;
}

.content a {
	color:#000;
	text-decoration: none ;
}
.content a:hover {
	color: #0000FF;
	text-decoration: underline ;
	
}
.tabs-stage{
	background: rgb(242,249,254); /* Old browsers */
	background: -moz-radial-gradient(center, ellipse cover,  rgba(242,249,254,1) 0%, rgba(214,240,253,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(242,249,254,1)), color-stop(100%,rgba(214,240,253,1))); /* Chrome,Safari4+ */
	background: -webkit-radial-gradient(center, ellipse cover,  rgba(242,249,254,1) 0%,rgba(214,240,253,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-radial-gradient(center, ellipse cover,  rgba(242,249,254,1) 0%,rgba(214,240,253,1) 100%); /* Opera 12+ */
	background: -ms-radial-gradient(center, ellipse cover,  rgba(242,249,254,1) 0%,rgba(214,240,253,1) 100%); /* IE10+ */
	background: radial-gradient(ellipse at center,  rgba(242,249,254,1) 0%,rgba(214,240,253,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f9fe', endColorstr='#d6f0fd',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
	border: 1px solid #1e599b;
	-webkit-border-radius: 0 0 6px 6px;
	-moz-border-radius: 0 0 6px 6px;
	-ms-border-radius: 0 0 6px 6px;
	-o-border-radius: 0 0 6px 6px;
	border-radius: 0 0 6px 6px;
	clear: both;
	margin-bottom: 20px;
	position: relative;
	top: -1px;
	width: 450;
}

.tabs-nav {
	text-align: center;
	list-style: none;
	margin-left: -40px;
	
}

.tabs-nav li a {
	
	border-right: 1px solid #fff;
	float: left;
    display: inline;    
	font-family: arial;
	font-size: 17px;
	color: #fff;
	padding:10px;
	text-decoration: none;
	text-align: center;
	width: 221px;
	background: #7db9e8; /* Old browsers */
	background: -moz-linear-gradient(top,  #7db9e8 0%, #2989d8 32%, #1e5799 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7db9e8), color-stop(32%,#2989d8), color-stop(100%,#1e5799)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #7db9e8 0%,#2989d8 32%,#1e5799 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #7db9e8 0%,#2989d8 32%,#1e5799 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #7db9e8 0%,#2989d8 32%,#1e5799 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #7db9e8 0%,#2989d8 32%,#1e5799 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7db9e8', endColorstr='#1e5799',GradientType=0 ); /* IE6-9 */

}
.tabs-nav li a:hover {
	color: #fffc00;
	text-decoration: underline ;
}

#tab-1 {
	padding: 20px 20px;
}

#tab-2 {
	padding: 20px 20px;
}

#tab-3 {
	padding: 20px 20px;
	
}

section {
	float: right;
	position: absolute;
    left: 302px;
    top: 20px;
}

/* Footer */

footer{
	
	margin: 0 auto;
	font-family: arial;
	font-size: 14px;
	color: #fff;
	padding:10px 0;
	text-align: center;
	width: 960px;
	background: #7db9e8; /* Old browsers */
	background: -moz-linear-gradient(top,  #7db9e8 0%, #2989d8 32%, #1e5799 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7db9e8), color-stop(32%,#2989d8), color-stop(100%,#1e5799)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #7db9e8 0%,#2989d8 32%,#1e5799 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #7db9e8 0%,#2989d8 32%,#1e5799 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #7db9e8 0%,#2989d8 32%,#1e5799 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #7db9e8 0%,#2989d8 32%,#1e5799 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7db9e8', endColorstr='#1e5799',GradientType=0 ); /* IE6-9 */
	
	
}
footer a {
	color:#fff;
	text-decoration: none ;
}
footer a:hover {
	color: #fffc00;
	text-decoration: underline ;




